html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

:root {
    --font-size: 16px;
    --primary: #22a7f2;
    --secondary: #ff9505;
    --accent: hotpink;
    --gradient: linear-gradient(#22a7f2, #5f2583);
    --hgradient: linear-gradient(0.25turn, #22a7f2, hotpink);
}

html {
    box-sizing: border-box;
    font-size: var(--font-size);
    scroll-behavior: smooth;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
        Cantarell, "Helvetica Neue", sans-serif;
}

a {
    color: rgb(0, 100, 200);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(0, 80, 160);
}

label {
    display: block;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    -webkit-padding: 0.4em 0;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
}

input:disabled {
    color: #ccc;
}

button {
    color: #333;
    background-color: #f4f4f4;
    outline: none;
}

button:disabled {
    color: #999;
}

button:not(:disabled):active {
    background-color: #ddd;
}

button:focus {
    border-color: #666;
}

h2 {
    margin: 0;
    font-family: "Yantramanav", sans-serif;
    font-size: 3rem;
    line-height: 100%;
    margin-bottom: 1.5rem;

    background: var(--hgradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    font-family: "Fira Sans", sans-serif;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: left;
}
